body {
    background-color:crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

div {
    background-color: hotpink;
    text-align: center;
}
p{
    text-align: center;
    text-decoration: wavy underline;
}